.nav__link_list {
  padding-right: 32px;
  background-image: url(../../../../images/icons/nav__list-arrow.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) calc(50% - 1px);
}

@media screen and (max-width: 1000px) {
  .nav__link_list {
    padding-right: 15px;
    background-position: calc(100% - 2px) calc(50% - 1px);
  }
}
