.page {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  position: relative;
  background-color: #181818;
  align-items: start;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
