.profile {
  width: 100%;
  box-sizing: border-box;
  max-width: 300px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--element-bg-color);
  transition: left .4s linear;
}

@media screen and (max-width: 900px) {
  .profile {
    position: absolute;
    top: 40px;
    left: -100%;
    z-index: 1000;
  }
}
