.header {
  width: 100%;
  margin-bottom: 60px;
  display: flex;
  gap: 17px;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--header-bg-color);
  box-shadow: 0px 5px 15px var(--shadow-color);
}

@media screen and (max-width: 1000px) {
  .header {
    gap: 6px;
    margin-bottom: 20px;
  }
}
