.nav__list_place_header {
  flex-direction: row;
  position: relative;
}

.nav__list_place_header li:last-child {
  margin-left: auto;
  margin-right: 17px;
}

.nav__list_place_header li:has(ul){
  position: relative;
}
