.nav__list_place_header {
  flex-direction: row;
  position: relative;
  height: 100%;
  align-items: center;
}

.nav__list_place_header li:last-child {
  margin-left: auto;
}

.nav__list_place_header li:has(ul){
  position: relative;
}
