.profile__social {
  list-style-type: none;
  margin: 0 0 30px;
  padding: 0;
  display: flex;
  gap: 15px;
}

@media screen and (max-width: 800px) {
  .profile__social {
    margin: 0 0 30px;
  }
}


@media screen and (max-height: 624px) {
  .profile__social {
    margin-bottom: 12px;
  }
}
