.search {
  width: 212px;
  padding: 0 0 0 20px;
  background-color: #202020;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: #fff;
  border: none;
  transition: background .2s linear;
}

.search::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.search:focus {
  outline: none;
  background-color: #3139c9;
}
