.profile__avatar {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border: 2px solid var(--main-text-color);
  box-shadow: 0px 7px 20px var(--shadow-color);
  border-radius: 50%;
  object-position: center;
  object-fit: contain;
}

@media screen and (max-width: 800px) {
  .profile__avatar {
    width: 65px;
    height: 65px;
  }
}
